// app global css
.token.operator
  background-color unset !important // fix prism theme
  color $amber !important
.token.keyword
  color $blue !important
.token.number
  color $red !important
.token.string
  color $green !important
code
  color $cyan
