// app global css
.token.operator
  background-color unset !important // fix prism theme
  color $amber !important
.token.keyword
  color $blue !important
.token.number
  color $red !important
.token.string
  color $green !important
code
  color $cyan
.text-light
  color #fff
  text-shadow 0 0 5px #fff,
  0 0 10px #4a494e,
  0 0 15px #fff,
  0 0 20px #ffac1f,
  0 0 30px #ffac1f,
  0 0 40px #ffac1f,
  0 0 50px #ffac1f,
  0 0 75px #ffac1f
  letter-spacing 5px
  font 80px
.prism-editor__code
  min-height 50px
